h1 {
  text-align: center;
  color: rgb(51, 108, 255);
}

h2 {
  text-align: center;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

p {
  padding: 5px;
}

body {
  background-color: lightgrey;
}

.head {
  display: block;
  width: 100%;
  height: 300px;
  /*background-color: rgb(132, 196, 40);*/
}

.head_title {
  display: block;
  float: left;
  width: 40%;
  height: 300px;
  text-align: right;
  /*background-color: rgb(45, 205, 181);*/
}

.head_title h4,p {
  margin: 10px;
}

.head_title h4 {
  text-decoration: underline;
}

.head_img {
  display: block;
  float: left;
  width: 10%;
  height: 300px;
  /*background-color: rgb(153, 105, 33);*/
}

.head_text {
  display: block;
  float: left;
  width: 50%;
  height: 300px;
  /*background-color: rgb(165, 20, 172);*/
}

.head_img img {
  width: 155px;
  height: 250px;
  margin: 20px;
}

.head_text p {
  font-size: 20px;
  margin: 20px;
}

.head_text p a {
  color: green;
  text-decoration: none;
}

.head_text p a:hover {
  text-decoration: underline;
}

.horizon_line {
  width: 100%;
  border-bottom: 3px solid blue;
}

.about_head {
  text-indent: 20px;
  text-align: justify;
}

.about {
  display: block;
  width: 100%;
  height: 320px;
}

.about_img {
  display: block;
  float: left;
  width: 10%;
  height: 300px;
}
.about_img img {
  width: 155px;
  height: 250px;
  margin: 20px;
}

.about_text {
  display: block;
  margin-top: 20px;
  float: left;
  width: 90%;
  height: 300px;
}

.about_text p {
  text-indent: 20px;
  text-align: justify;
}

.about_text p a {
  color: green;
  text-decoration: none;
}

.about_text p a:hover {
  text-decoration: underline;
}

.zm {
  display: block;
  width: 100%;
  height: 400px;
}

.zm h3 {
  text-align: left;
  text-indent: 5px;
}

.zm p {
  text-align: justify;
  text-indent: 15px;
}

.zm p a {
  color: green;
  text-decoration: none;
}

.zm p a:hover {
  text-decoration: underline;
}

.rozdeli {
  display: block;
  width: 100%;
  height: 100%;
}

.rozdeli p {
  text-align: justify;
  text-indent: 20px;
}
